@{
  Layout = "_Layout";
}

@model FuelStation.Models.SpaceShip

<h4>Add a new Space Ships</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.Label("Select home planet")
    @Html.DropDownList("PlanetId")

    <input type="submit" value="Add new SpaceShip" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all SpaceShips", "Index")</p>