@{
    Layout = "_Layout";
}

@model FuelStation.Models.SpaceShip

<h2>Space Ship Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
@* @if(@Model.JoinEntries.FuelType.Count == 0) does not work because FuelType is a field, JoinEntries is the hashset/collection *@ 
@if(@Model.JoinEntries.Count == 0)
{
    <p>This space ship does not belong to any fuel types</p>
}
else
{
    <h4>This ship's fuel type:</h4>
    <ul>
    @* join is a dummy variable to represent the individual instance/object of JoinEntries that you are acting upon while you loop through it*@ 
    @foreach(var join in Model.JoinEntries)
    {
        @if(@join.FuelType != null)
        {
            <li>@join.FuelType.Name</li>
            @using (Html.BeginForm("DeleteFuelType", "FuelTypes"))
            {
              @Html.Hidden("joinId", @join.PlanetSpaceShipFuelTypeId)
              <input type="submit" value="Remove"/>
            }
        }
        else
        {
            <p>no fuel type for this spaceship</p>
        }
    }
    </ul>

    <h4>Planets this ship belongs to:</h4>
    <ul>
    @foreach(var join in Model.JoinEntries)
    { 
      @if(@join.Planet != null)
        {
            <li>@join.Planet.Name</li>
            @using (Html.BeginForm("DeletePlanet", "Planets"))
            {
              @Html.Hidden("joinId", @join.PlanetSpaceShipFuelTypeId)
              <input type="submit" value="Remove"/>
            }
        }
        else
        {
            <p>no home planet for this spaceship</p>
        }
    }
    </ul>
}
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Space Ship", "Edit", new { id = Model.SpaceShipId })</p>
<p>@Html.ActionLink("Delete Space Ship", "Delete", new { id = Model.SpaceShipId })</p>
